extends layout

block content
  h1= title
  - let vans=results
  div(class="container-fluid")
    - let destination = `dispatch("/van/create")`
    button.btn( class="btn-secondary"  class="m-1" class="btn-toolbar", onclick= destination) Create
    div(class="row m-1")
      each van in vans
        - let destination = `dispatch(\"/van/update?id=${van._id}\")`
        - let delete_ = `dispatch(\"/van/delete?id=${van._id}\")`
        - let detail = `dispatch(\"/van/detail?id=${van._id}\")`
        div(class="col-sm-2 "  class="m-1")  #{van.Name} - #{van.Company} - #{van.Price}
          button.btn( class="btn-primary"  class="m-1" class="btn-toolbar", onclick= destination) Update
          button.btn( class="btn-danger" class="m-1" class="btn-toolbar", onclick= delete_) Delete
          button.btn( class="btn-info" class="m-1" class="btn-toolbar", onclick= detail) Detail
  script.
      function dispatch(path)
      {
      window.location.href=path
      }