extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
  - let vanid = toShow._id
  - let vanName = toShow.Name
  - let vanCompany = toShow.Company
  - let vanPrice = toShow.Price
  - let actionid = "/resource/van/" + vanid
  script let actionid = "#{actionid}"
  div
    div.row
      div(class='vanAttr mr-3') van ID is:
      div #{vanid}
    div.row
      div(class='vanAttr mr-3') van Name is:
      div #{vanName}
    div.row
      div(class='vanAttr mr-3') van Company is:
      div #{vanCompany}
    div.row
      div(class='vanAttr mr-3') van Price is:
      div #{vanPrice}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/van'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.text(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/van'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }